# Deploy environment
ENV=dev

# Stack & S3 Bucket Prefix
PREFIX=prefixULikeToChoose

# How many days keep files in S3?
EXPIRATIONINDAYS=30

# Email Sender address
FROM_ADDRESS=noreply@example.org

# Email Notification To address to get notification when new file uploaded
TO_ADDRESS=email@example.org